/* Navbar component styles */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 12px 12px 0 0;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: hsl(0, 0%, 84%);
  font-size: 11px;
  padding: 20px 7px;
  transition: color 0.25s ease;
}

.navbar-link:hover,
.navbar-link:focus { 
  color: hsla(0, 0%, 84%, 0.7); 
}

.navbar-link.active { 
  color: hsl(45, 100%, 72%); 
}

/* Responsive styles */
@media (min-width: 580px) {
  .navbar { 
    border-radius: 20px 20px 0 0; 
  }

  .navbar-list { 
    gap: 20px; 
  }

  .navbar-link { 
    font-size: 14px; 
  }
}

@media (min-width: 768px) {
  .navbar-link { 
    font-size: 15px; 
  }
}

@media (min-width: 1024px) {
  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { 
    font-weight: 500; 
  }
}