<article class="contact active" data-page="contact">
  <header>
    <h2 class="h2 article-title">Contact</h2>
  </header>

  <section class="mapbox" data-mapbox>
    <figure>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15666.186567059434!2d76.98290736093138!3d10.997552126638212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8599523d61ed3%3A0x22c30c567e98e810!2sOlymbus%2C%20Ramanathapuram%2C%20Tamil%20Nadu%20641045!5e0!3m2!1sen!2sin!4v1718815762797!5m2!1sen!2sin"
        width="400" 
        height="300" 
        loading="lazy"
        title="Location Map">
      </iframe>
    </figure>
  </section>

  <section class="contact-form">
    <h3 class="h3 form-title">Contact Form</h3>

    <form class="form" (ngSubmit)="onSubmit()" #contactFormRef="ngForm" data-form>
      <div class="input-wrapper">
        <input 
          type="text" 
          name="fullname" 
          class="form-input" 
          placeholder="Full name" 
          required 
          [(ngModel)]="contactForm.fullname"
          data-form-input>

        <input 
          type="email" 
          name="email" 
          class="form-input" 
          placeholder="Email address" 
          required 
          [(ngModel)]="contactForm.email"
          data-form-input>
      </div>

      <textarea 
        name="message" 
        class="form-input" 
        placeholder="Your Message" 
        required 
        [(ngModel)]="contactForm.message"
        data-form-input>
      </textarea>

      <button 
        class="form-btn" 
        type="submit" 
        [disabled]="!isFormValid()"
        data-form-btn>
        <ion-icon name="paper-plane"></ion-icon>
        <span>Send Message</span>
      </button>
    </form>
  </section>
</article>