<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    <p>
      Data Scientist with 6+ years of experience building AI solutions in machine learning, computer vision, and generative AI. 
      I have a proven track record of turning real-world business needs into impactful AI products across multiple industries, 
      generating significant revenue and cost savings for organizations.
    </p>

    <p>
      Skilled in Python, MLOps, and cloud platforms (Azure, AWS) with expertise in developing scalable AI pipelines. 
      I specialize in creating self-service development platforms, agentic AI solutions, and end-to-end products that drive 
      innovation and operational efficiency. Professional recognized for leadership, delivering high-value projects, 
      and winning competitive challenges in the AI space.
    </p>
  </section>

  <section class="service">
    <h3 class="h3 service-title">What i'm good at</h3>

    <ul class="service-list">
      <li class="service-item" *ngFor="let service of services">
        <div class="service-icon-box">
          <img [src]="service.icon" [alt]="service.title + ' icon'" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{service.title}}</h4>
          <p class="service-item-text">{{service.description}}</p>
        </div>
      </li>
    </ul>
  </section>

  <!-- testimonials modal -->
  <div class="modal-container" data-modal-container>
    <div class="overlay" data-overlay></div>
    <section class="testimonials-modal">
      <button class="modal-close-btn" data-modal-close-btn>
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </section>
  </div>
</article>